<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>212782121680-ipg44qkgdqvqudfvnns6mij4phmtalna.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.212782121680-ipg44qkgdqvqudfvnns6mij4phmtalna</string>
	<key>API_KEY</key>
	<string>AIzaSyA1zyfoaQXX3hT_--gd3-T0bbUqybkdbHw</string>
	<key>GCM_SENDER_ID</key>
	<string>212782121680</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>N.TMDB</string>
	<key>PROJECT_ID</key>
	<string>tmdb-67453</string>
	<key>STORAGE_BUCKET</key>
	<string>tmdb-67453.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:212782121680:ios:153a01ec9329aefae5d4d5</string>
</dict>
</plist>